html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

#appContainer {
  display: flex;
}

.about-body {
  height: 100vh;
  margin: 0 auto;
}

.about-body {
  flex: 1;
  height: 100%;
  font-family: "Roboto",serif;
  font-weight: 300px;
  font-size: 16px;
}

.about-body h1 {
  flex: .2;
  font-family: "Roboto",serif;
  font-size: 35px;
  text-align: center;
}

.about-paragraph {
  flex: 1;
  margin-left: 100px;
  margin-right: 50px;
}

.header-container-about {
  text-align: center;
  display: flex;
  flex: 0.2;
  background-color: #303030;
  color: white;
}

.header-container-about p {
  font-size: 22px;
  color: white;
}

.header-container-about .fa-map-marker {
  margin-left: 39%;
  margin-top: 6px;
  font-size: 40px;
}

.image-container-about {
  background-color: black;
  width:100%;
  height: 50px;
}

.image-container-about img {
  width: 100%;
  height: 50vh;
}

.mapContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.map {
  flex: 1;
}

.side-bar {
  background-color: #303030;
  border: 1px solid black;
  color: white;
  height: 29%;
  margin-top: 2%;
  min-width: 230px;
  opacity: 1;
  position: absolute;
  right: 33px;
  top: 10px;
  width: 23%;
  display: flex;
  flex-direction: column;
}

.logo-sidebar {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
}

.logo-about {
  margin: 0 auto;
  width: 25%;
  height: 12vh;
}

/*.header-container {
  margin-left: 10px;
  margin-top: 20px;
}*/

.header-container p {
  font-size: 20px;
  font-size: 2px;
  font-weight: 800px;
}

.checkbox-item {
  color: white;
  font-family: "Roboto",serif;
  font-weight: 300px;
  font-size: 16px;
  text-align: left;
}

.checkbox-container {
  margin-left: 14%;
  margin-top: 1%;
  margin-bottom: 9%;
  padding: 0px;
}

.side-bar p {
  font-family: "Roboto",serif;
  margin-top: 13px;
  padding-left: 4px;
  font-size: 20px;
}

.fa-map-marker {
  font-size: 36px;
  color: #f75850;
  padding-bottom: 0;
}

.add-location-btn {
  border-radius: 4px;
  background-color: #cbe6a3;
  border: none;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 71%;
  transition: all 0.5s;
  text-align: center;
  cursor: pointer;
  font-size: 21px;
  color: black;
  margin-left: 15%;
}

.add-location-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-location-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-location-btn:hover span {
  padding-right: 25px;
}

.add-location-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* Modal */

.modal-show {
    display: block;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.6);
}

.modal-hide {
      display: none;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1),0 6px 20px 0 rgba(0,0,0,1);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:1}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:1}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    background-color: black;
    border: 0px;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    opacity: 1;
    padding: 2px 16px;
    background-color: #5cb85c;
    font-size: 12px;
    color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
  color: black;
}

.modal-body label {
  padding: 0;
  margin: 5px 0;
  color: black;
  font-size:16px;
}

.modal-body textarea {
  width: 30%;
}

.instructions {
  font-size: 12px;
  text-decoration: none;
}

.input-row input {
  margin-top: 10px;
  margin-left: 5px;
  width: 20%;
}

.input-row {
  margin-bottom: 5px;
}

.modal-checkbox-container {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-checkbox-container h3 {
  margin-bottom: 0px;
  text-decoration: underline;
}

.type-checkbox-container {
  width: 60%;
}

.add-location-map {
  position: absolute;
  right: 30px;
  top: 75px;
  border: 2px solid black;
  width: 50%;
  height: 45vh;
}
.checkbox-item-2 {
  color: black;
  font-size: 14px;
  font-family: 'Helvetica Neue';
  text-align: left;
}

.submit-btn {
  background-color: #5cb85c;
  border-radius: 0.6em;
  color: white;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-weight: 700;
  height: 50px;
  line-height: 1;
  padding-left: 8px;
  width: 15%;
  margin-left: 2%;
  margin-top: 2%;
}

.the-autocomplete-box {
  border: 1px solid black;
  width: 30%;
  height: 2vh;
  float: right;
  margin-top: 5%;
  margin-right: 15%;
}

#appContainer2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

#mainContainer {
  position: relative;
  width: 100%;
  flex: 5;
}

#explorerContainer {
  background: rgba(255, 255, 0, 0.8);
  flex: 1.3;
  height: 100vh;
  padding: 10px;
  margin-left: 0px;
}

#explorerContainer textarea {
  font-family: Monaco, Inconsolata, Consolas, Courier, monospace;
  font-size: 14px;
  height: 550px;
  width: 100%;
}

/*MENU*/

.sidenav {
  background-color: #303030;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition-timing-function: ease-in-out;
  transition: 150ms;
  width: 0;
  z-index: 1;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 150ms;
}

.sidenav a:hover {
  background-color: white;
  color: black;
}

.hamburger {
  height: 100vh;
  background-color: #303030;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: margin-left 150ms;
  padding: 6px;
}

.open .hamburger {
  margin-left: 250px
}

.open .sidenav {
  width: 250px
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
